$bug: hsl(79, 53%, 48%);
$dark: hsl(252, 5%, 36%);
$dragon: hsl(211, 79%, 43%);
$electric: hsl(50, 84%, 65%);
$fairy: hsl(306, 71%, 75%);
$fighting: hsl(348, 61%, 54%);
$fire: hsl(29, 93%, 65%);
$flying: hsl(218, 63%, 78%);
$ghost: hsl(230, 39%, 55%);
$grass: hsl(116, 41%, 55%);
$ground: hsl(19, 63%, 58%);
$ice: hsl(170, 48%, 65%);
$normal: hsl(100, 2%, 63%);
$poison: hsl(286, 50%, 60%);
$psychic: hsl(1, 89%, 75%);
$rock: hsl(46, 36%, 67%);
$steel: hsl(191, 29%, 49%);
$water: hsl(208, 66%, 60%);