@import './styles/Variables.scss';

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.main-wrapper {
  position: relative;
  box-sizing: border-box;
  padding: 0 14px;
  margin: 0 auto;
  width: 100%;

  @media (min-width: 768px) {
    width: 80%;
  }
}

img {
  width: 100%;
  display: block;
}

.icon-holder {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  background: hsl(0, 0%, 90%);

  &.bug {
    background: $bug;
  }

  &.dark {
    background: $dark;
  }

  &.dragon {
    background: $dragon;
  }

  &.water {
    background: $water;
  }

  &.electric {
    background: $electric;
  }

  &.fairy {
    background: $fairy;
  }

  &.fighting {
    background: $fighting;
  }

  &.fire {
    background: $fire;
  }

  &.flying {
    background: $flying;
  }

  &.ghost {
    background: $ghost;
  }

  &.grass {
    background: $grass;
  }

  &.ground {
    background: $ground;
  }

  &.ice {
    background: $ice;
  }

  &.normal {
    background: $normal;
  }

  &.poison {
    background: $poison;
  }

  &.psychic {
    background: $psychic;
  }

  &.rock {
    background: $rock;
  }

  &.steel {
    background: $steel;
  }

  &.water {
    background: $water;
  }
}

.pokemon-list {
  margin: 0 -14px;
}

.pokemon-item-row {
  display: grid;
  grid-template-columns: 60px 50px auto 55px;
  grid-gap: 6px;
  margin-bottom: 6px;
  padding: 4px 14px;

  .pokemon-id {
    border-radius: 100px;
    background: hsl(0, 0%, 94%);
    color: hsl(0, 0%, 50%);
    padding: 4px 10px;
    text-align: center;
    font-size: 0.85em;
    font-weight: 500;
  }

  .pokemon-img {
    max-width: 40px;
    margin: 0 auto;
  }

  .pokemon-name {
    text-transform: capitalize;
    font-size: 0.9em;
    font-weight: 500;
    color: hsl(0, 0%, 50%);
  }

  .pokemon-type-combo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  .pokemon-type {
    justify-self: center;
    margin-right: auto;

    &:last-child {
      margin-right: 0;
    }
  }

  >* {
    align-self: center;
  }
}